.grid {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    padding-top: 30px;
    justify-content: center;
    align-content: center;
}

.ctn {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.done {
    text-decoration: line-through;
    color: gray;
    width: auto;
}