.title {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    background-color: rgb(42, 157, 143, 0.4);
}

.detail {
    color: #000000;
    text-decoration: none;
}